<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Sing up Form-->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" class="classicInput" novalidate>

    <!-- Email field-->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" pattern="^\S*[@]\S*[.]\S*$"  #input email type="email"></ion-input>
    </ion-item>


    <!-- Password Field-->
    <ion-item class="password_field">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="{{type}}"></ion-input>
      <ion-button fill="clear" class="password_change_icon skip-hover" (click)="showPassword()">
        <ion-icon [class.hidden]="showPass" name="eye"></ion-icon>
        <ion-icon [class.hidden]="!showPass" name="eye-off"></ion-icon>
      </ion-button>
    </ion-item>


    <!-- Submit Sign up form Button-->
    <ion-button type="submit" [disabled]="!loginForm.valid || isLoading">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <span *ngIf="!isLoading">Login</span>
    </ion-button>

  </form>

</ion-content>
